    <div class="item">
        <div >
            <img src="{{data.image}}" alt="" routerLink="/details/{{data.id}}">
            <div class="body">
                <h4>{{data.title}}</h4>
                <p>{{data.description}}</p>
    
            </div>
        </div>
        <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
            <button class="btn btn-success" *ngIf="!addButton" (click)="addButton=true">
                Add to cart
            </button>
            <div class="d-flex w-50" *ngIf="addButton" >
                <input type="number" class="form-control" [(ngModel)]="amount">
                <button class="btn btn-danger" (click)="add()">Add</button>
            </div>
            <span>50 L.E</span>
        </div>
    </div>